@import url(./__item/photo-grid__item.css);

.photo-grid {
  display: grid;
  width: calc(100% - 96px);
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 14px;
    grid-row-gap: 14px;
  }
}

@media (max-width: 768px) {
  .photo-grid {
    width: calc(100% - 48px);
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
}

@media (max-width: 425px) {
  .photo-grid {
    width: calc(100% - 32px);
    grid-template-columns: 1fr;
    grid-column-gap: 14px;
    grid-row-gap: 14px;
  }
}
