.places {
  padding-top: 92px;
  padding-bottom: 92px;
  width: calc(100% - 296px);
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .places {
    width: calc(100% - 96px);
    padding-top: 88px;
    padding-bottom: 88px;
  }
}

@media (max-width: 768px) {
  .places {
    width: calc(100% - 48px);
  }
}

@media (max-width: 425px) {
  .places {
    width: 100%;
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
