.places {
  padding-top: 92px;
  padding-bottom: 92px;
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .places {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .places {
    width: 95%;
    padding-top: 88px;
  }
}

@media (max-width: 425px) {
  .places {
    padding-bottom: 65px;
  }
}
