@import url(./__container/intro__container.css);
@import url(./__list-bold/intro__list-bold.css);
@import url(./__list/intro__list.css);
@import url(./__text/intro__text.css);
@import url(./__title/intro__title.css);
@import url(./__subtitle/intro__subtitle.css);

.intro {
  width: calc(100% - 296px);
  margin: 92px auto 92px auto;
}

@media screen and (max-width: 1024px) {
  .intro {
    width: calc(100% - 96px);
  }
}

@media (max-width: 768px) {
  .intro {
    width: calc(100% - 48px);
    margin-top: 88px;
    margin-bottom: 88px;
  }
}

@media (max-width: 425px) {
  .intro {
    width: calc(100% - 32px);
    margin-top: 64px;
    margin-bottom: 64px;
  }
}
