.lead__image-container {
  background-image: url(../../../images/lead-mountains.jpg);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 105% 0%;
  margin: 0 auto;
  padding-bottom: 62.5%;
}
